body {
	
	background-color: olive;
	
}

#cp {

	margin-left: 15px;
	width: 400px;
	font-size: large;
	font-family: "Comic Sans MS";
	color: navy;
	background-color: lime;
	border: solid thick green;
    border-radius: 1em;
    box-shadow: black 0.5em 0.5em 0.3em;

}
