body {
	
	background-color: purple;
	
}

#cp {

	margin-left: 15px;
	width: 550px;
	font-size: large;
	font-family: "Comic Sans MS";
	color: #ECD872;
	background-color: teal;
	border: solid thick #736AFF;
    border-radius: 1em;
    box-shadow: black 0.5em 0.5em 0.3em;

}

#ep {

	margin-left: 15px;
	width: 550px;
	font-size: xx-large;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	color: red;
	background-color: black;
	border: solid thick silver;
    border-radius: 1em;
    box-shadow: black 0.5em 0.5em 0.3em;

}
